<!DOCTYPE html>
<html lang="Eng">
<title>Uplay</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bigphoto {
  background-position: center;
  background-size: cover;
  background-image: url("/static/home.jpeg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-dark-grey w3-card" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide">Uplay</a>
    </div>
</div>

<!-- Photo Grid -->
<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
  <div class="w3-half">
    <br><br><br><br><br><br>
    <a href= "/music">
        <img src="/static/uplayMusic.png" style="width:100%" alt="musica" role="button">
    </a>
  </div>

  <div class="w3-half">
    <br><br><br><br><br><br>
    <a href="/movies">
      <img src="/static/uplayMovies.jpg" style="width:93%" alt = "peliculas">
    </a>
  </div>
</div>